<mat-card>
<mat-card-content>
  <h2 class="example-h2">Angular Material Checkbox Example</h2>
   <form [formGroup]="form" (ngSubmit)="submit()">
    <section class="example-section" *ngFor="let cartoon of cartoonsData">
      <mat-checkbox class="example-margin"
          (change)="onChangeEventFunc(cartoon.name, $event)"
          [formControl]="cartoonControl">
      {{ cartoon.name }}
      </mat-checkbox>
    </section>
    <button mat-raised-button color="accent" style="margin-top:10px;">Submit</button>
   </form>
</mat-card-content>
</mat-card>